body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
    text-decoration: underline;
}

#formDate {
    text-align: center;
    text-align: inline-block;
    margin-bottom: 30px;
}

label {
    font-size: 25px;
}

button {
    margin-top: 15px;
    margin-bottom: 15px;
}

h4, h3 {
    color: black;
    text-decoration: underline;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}

.col-md-5 {
    text-align: center;
    background-color: white;
    margin-bottom: 25px;
    border-radius: .25rem;
}

.col-md-12 {
    padding-right: 0px;
    padding-left: 0px;
}

img {
    width: 300px;
}